---
# Provision the EC2 Installer Host
- name: PROVISION EC2 INSTALLER HOST
  hosts: localhost
  connection: local
  gather_facts: false

  roles:
    - provision_ec2_installer

# Configure the New Installer Host
- name: CONFIGURE NEW EC2 INSTALLER HOST
  hosts: newly_created_ec2 # Target the host created by the provision_ec2_installer role
  gather_facts: false
  vars:
    openshift_aws_subnets: "{{ aws.public_subnets + aws.private_subnets }}"

  roles:
    - configure_openshift_installer

# Provision the OpenShift Cluster
- name: PROVISION OPENSHIFT CLUSTER
  hosts: newly_created_ec2
  gather_facts: false

  roles:
    - aws_provision_cluster_cft

# Apply Day 2 Configuration
- name: APPLY DAY 2 CONFIGURATION TO OPENSHIFT CLUSTER
  hosts: newly_created_ec2
  gather_facts: false
  environment:
    KUBECONFIG: "{{ install_dir }}/auth/kubeconfig"

  roles:
    - install_openshift_gitops