---
# Provision the EC2 Installer Host
- name: PROVISION EC2 INSTALLER HOST
  hosts: localhost
  connection: local
  gather_facts: false

  roles:
    - provision_ec2_installer

# Configure the New Installer Host
- name: CONFIGURE NEW EC2 INSTALLER HOST
  hosts: newly_created_ec2 # Target the host created by the provision_ec2_installer role
  gather_facts: false
  vars:
    openshift_aws_subnets: "{{ aws.public_subnets + aws.private_subnets }}"

  roles:
    - configure_openshift_installer

# Provision the OpenShift Cluster
- name: PROVISION OPENSHIFT CLUSTER
  hosts: newly_created_ec2
  gather_facts: false
  pre_tasks:
    # Install some required prerequisites into the remote host
    - name: Bootstrap Python3 and Pip (Detect OS automatically)
      raw: |
        if command -v yum >/dev/null 2>&1; then
          sudo yum install -y python3-pip
        elif command -v apt-get >/dev/null 2>&1; then
          sudo apt-get update && sudo apt-get install -y python3-pip
        else
          echo "No supported package manager found." >&2
          exit 1
        fi
      changed_when: false

    - name: Install AWS SDK (boto3) using Pip
      pip:
        name:
          - boto3
          - botocore
        state: present
        executable: pip3

  roles:
    - aws_provision_cluster_cft