---
# Create VPC for UPI
- import_playbook: create-connected-vpc.yaml

# Create Permission Boundary for AWS
# TODO If you want to include this automation in the process, update playbooks/files/gwt-openshift-boundary-policy.json,
# and uncomment the following line:
- import_playbook: create-permission-boundary.yaml

# Provision the EC2 Installer Host
- name: PROVISION EC2 INSTALLER HOST
  hosts: localhost
  connection: local
  gather_facts: false

  roles:
    - provision_ec2_installer

# Configure the New Installer Host
- name: CONFIGURE NEW EC2 INSTALLER HOST
  hosts: newly_created_ec2 # Target the host created by the provision_ec2_installer role
  gather_facts: false
  vars:
    # Get variable from localhost so it can be referenced by the remote host
    openshift_aws_subnets: "{{ hostvars['localhost']['openshift_aws_subnets'] }}"

  roles:
    - configure_openshift_installer

# Provision the OpenShift Cluster
- name: PROVISION OPENSHIFT CLUSTER
  hosts: newly_created_ec2
  gather_facts: false
  pre_tasks:
    # Populate the VPC information since we created it automatically
    - name: Override AWS Inventory Vars with Generated Network Info
      set_fact:
        aws: "{{ aws | combine(new_aws_data, recursive=True) }}"
      vars:
        new_aws_data:
          vpc_id: "{{ hostvars['localhost']['aws_vpc_id'] }}"
          hosted_zone_id: "{{ hostvars['localhost']['aws_hosted_zone_id'] }}"
          public_subnets: "{{ hostvars['localhost']['aws_public_subnets'] }}"
          private_subnets: "{{ hostvars['localhost']['aws_private_subnets'] }}"

  roles:
    - aws_provision_cluster_cft

# Apply Day 2 Configuration
- name: APPLY DAY 2 CONFIGURATION TO OPENSHIFT CLUSTER
  hosts: newly_created_ec2
  gather_facts: false
  environment:
    KUBECONFIG: "{{ install_dir }}/auth/kubeconfig"
  roles:
    - install_openshift_gitops

# Cleanup Bastion After Install
- name: POST INSTALL CLEANUP
  hosts: newly_created_ec2
  gather_facts: false
  roles:
    - post_install_cleanup