---
# Play 1: Provision the EC2 Host
- name: PROVISION EC2 INSTALLER HOST
  hosts: localhost
  connection: local
  gather_facts: false

  roles:
    - provision_ec2_installer

# Play 2: Configure the newly created host
- name: CONFIGURE NEW EC2 INSTALLER HOST
  hosts: newly_created_ec2 # Target the dynamic group created by the first role
  gather_facts: false

  roles:
    - configure_openshift_installer